@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Rubik", sans-serif;
  src: url("../fonts/Rubik/Rubik-Italic-VariableFont_wght.ttf");
  src: url("../fonts/Rubik/Rubik-VariableFont_wght.ttf");
}
:root {
  --text_color: #242a45;
  --white: #fff;
  --red: #fa5959;
  --blue: #5267df;
  --kulrang: #f7f7f7;
  --malla: #9194a2;
  --box_shadow_btn: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);
  --box_shadow_card: 0px 10px 20px -5px rgba(73, 93, 207, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.container {
  width: 110.4rem;
  margin: 0 7rem;
  transition: 2s;
}

main,
nav,
section,
aside,
footer {
  display: flex;
  justify-content: center;
  width: 100%;
  transition: 2s;
}

.btn {
  padding: 1rem 2.4rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.8rem;
  letter-spacing: 0.025rem;
  border-radius: 0.5rem;
  box-shadow: var(--box_shadow_btn);
  border: 2px solid transparent;
  text-decoration: none;
}
.btn:hover {
  background: var(--white);
}

.btn_red {
  background: var(--red);
  color: var(--white);
}
.btn_red:hover {
  border: 2px solid var(--red);
  color: var(--red) !important;
}

.btn_blue {
  background: var(--blue);
  color: var(--white);
}
.btn_blue:hover {
  color: var(--blue);
  border: 2px solid var(--blue);
}

.btn_black {
  color: var(--text_color);
  background: var(--kulrang);
}
.btn_black:hover {
  border: 2px solid var(--text_color);
}

h2 {
  color: var(--text_color);
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 5.2rem;
  letter-spacing: -0.01rem;
}

p {
  color: var(--text_color);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2, 8rem;
  opacity: 0.5;
  margin: 2.4rem 0 3.2rem;
}

ul {
  display: flex;
  align-items: center;
  gap: 4.8rem;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: var(--text_color);
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.7rem;
  cursor: pointer;
  letter-spacing: 0.15rem;
}
ul li a:hover {
  color: var(--red);
}

nav {
  margin-top: 5rem;
}
nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
  margin: 0 4.8rem;
}

main {
  margin-top: 3rem;
}
main .container {
  display: flex;
  align-items: end;
}
main .container .main_text {
  padding-bottom: 5rem;
}
main .container .main_text h1 {
  color: var(--text_color);
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 5, 2rem;
  letter-spacing: -0.015rem;
}
main .container .main_text .main_btn {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
main .container .img {
  margin-top: 6.91rem;
  position: relative;
}
main .container .img img {
  transform: translateX(6rem);
  width: 57.423rem;
}
main .container .img .bg_main {
  position: absolute;
  width: 700%;
  height: 35.2rem;
  background: var(--blue);
  right: -630%;
  top: 12.3rem;
  border-radius: 31.65rem;
  z-index: -1;
}

section.features .container {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: relative;
}
section.features .container p {
  width: 54rem;
}
section.features .container .part_features {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.2px solid var(--malla);
  margin-bottom: 7.22rem;
}
section.features .container .part_features p {
  margin: 1.6rem 0 7.2rem;
}
section.features .container .part_features h4 {
  cursor: pointer;
  color: var(--text_color);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7rem;
  letter-spacing: 0.0533rem;
  padding: 0 6rem 2.7rem;
  border-bottom: 2px solid transparent;
}
section.features .container .part_features h4:hover {
  color: var(--red);
}
section.features .container .bg {
  position: absolute;
  width: 700%;
  height: 35.2rem;
  background: var(--blue);
  left: -670%;
  top: 39.3rem;
  border-radius: 31.65rem;
  z-index: -1;
}
section.features .container .slides {
  margin-bottom: 14.9rem;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 110.4rem;
}
section.features .container .slides .slide {
  transition: 0.6s;
  transform: translateX(-200%);
  min-width: 111.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}
section.features .container .slides .slide .text {
  width: 50%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  margin-left: 3rem;
}
section.features .container .slides .slide .text p {
  width: 44rem;
  text-align: left;
  font-size: 1.8rem;
}
section.features .container .slides .slide img {
  width: 50%;
}

section.downloud .container {
  margin-bottom: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
section.downloud .container p {
  width: 54rem;
}
section.downloud .container .cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.4rem;
}
section.downloud .container .cards .card {
  border-radius: 1.5rem;
  padding: 2.7rem;
  background: #fff;
  box-shadow: var(--box_shadow_card);
  width: 28rem;
  flex-shrink: 0;
  overflow: hidden;
}
section.downloud .container .cards .card img {
  margin-top: 2.5rem;
}
section.downloud .container .cards .card h3 {
  color: var(--text_color);
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.025rem;
  margin: 3.2rem 0 0.06rem;
}
section.downloud .container .cards .card p {
  all: unset;
  display: inline-block;
  width: 100%;
  color: var(--text_color);
  opacity: 0.5;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.8rem;
}
section.downloud .container .cards .card .img {
  all: unset;
  transform: translateX(-2.4rem);
  margin: 3.2rem 0 2.4rem;
}
section.downloud .container .cards .firefox_card {
  margin-top: 4rem;
}
section.downloud .container .cards .opera_card {
  margin-top: 8rem;
}

section.faq .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
section.faq .container p {
  width: 55rem;
  text-align: center;
}
section.faq .container .accardion {
  width: 54rem;
  border-bottom: 1px solid var(--malla);
  transition: all 1s;
}
section.faq .container .accardion .acc {
  transition: all 1s;
  border-top: 1px solid var(--malla);
  padding: 1.9rem 0.5rem;
  transition: 0.5s;
  overflow: hidden;
  height: 7rem;
}
section.faq .container .accardion .acc div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.faq .container .accardion .acc div:hover h4 {
  color: var(--red);
}
section.faq .container .accardion .acc div svg {
  transition: 1s;
  stroke: var(--blue);
  transform: rotate(0);
}
section.faq .container .accardion .acc div h4 {
  color: var(--text_color);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.2rem;
}
section.faq .container .accardion .acc p {
  color: var(--text_color);
  font-size: 1.6rem;
  font-weight: 400;
  opacity: 0.5;
  line-height: 3.6rem;
  text-align: left;
  letter-spacing: 0.015rem;
}
section.faq .container .btn {
  margin-top: 5.4rem;
}

section.contact_us {
  margin-top: 15rem;
  background-color: var(--blue);
}
section.contact_us .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
section.contact_us .container p {
  all: unset;
  margin-top: 5.8rem;
  color: var(--white);
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 4rem;
  letter-spacing: 0.5rem;
}
section.contact_us .container h2 {
  margin: 2.4rem 0 3.6rem;
  color: var(--white);
  width: 40.8rem;
  text-align: center;
}
section.contact_us .container .input {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 7.4rem;
  position: relative;
}
section.contact_us .container .input input {
  border-radius: 0.5rem;
  background: var(--white);
  width: 30rem;
  height: 4.8rem;
  border: none;
  padding: 0 2rem;
  z-index: 2;
  outline: none;
}

footer {
  padding: 3.2rem 0;
  background-color: var(--text_color);
}
footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .container ul li {
  list-style: none;
}
footer .container ul li a {
  text-decoration: none;
  color: var(--white);
}
footer .container ul li a:hover {
  color: var(--red);
}
footer .container .social {
  display: flex;
  align-items: center;
  gap: 4rem;
}
footer .container .social svg {
  fill: var(--white);
}
footer .container .social svg:hover {
  fill: var(--red);
}

.section__hidden .container {
  opacity: 0 !important;
  transform: translateX(8rem) !important;
}

.burger {
  display: none;
}

.for_burger {
  display: none;
}

.h4_Features_active {
  border-bottom: 2px solid var(--red) !important;
}

.hidden {
  display: none !important;
}

.acc_active {
  height: auto !important;
  height: 28rem !important;
}
.acc_active svg {
  transform: rotate(180deg) !important;
  stroke: var(--red) !important;
}

.drop {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: var(--white);
  width: 3rem;
  height: 3rem;
  background: var(--red);
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  left: 25.8rem;
}

.dropT {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  color: var(--white);
  width: 3rem;
  height: 3rem;
  background: #00ff26;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  left: 25.8rem;
}

.error {
  display: flex;
  width: 30rem;
  align-items: end;
  height: 7rem;
  position: absolute;
  background: var(--red);
  height: 8rem;
  width: 31rem;
  left: -0.5rem;
  bottom: -2.5rem;
  z-index: 1;
  border-radius: 0.5rem;
  padding: 1rem;
}
.error p {
  all: unset !important;
  color: var(--white) !important;
  width: 100% !important;
  font-size: 1rem !important;
  font-style: italic !important;
  font-weight: 500 !important;
  letter-spacing: 0.025rem !important;
}

@media (max-width: 1110px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 980px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 890px) {
  html {
    font-size: 45%;
  }
}
@media (max-width: 795px) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 716px) {
  html {
    font-size: 56.5%;
  }
  main .container {
    flex-direction: column-reverse;
    text-align: center;
  }
  main .container .img {
    transform: translateX(-6rem);
    margin-bottom: 19rem;
  }
  main .container .main_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .container .main_text .main_btn {
    width: 70%;
    justify-content: space-between;
  }
  section.features .container {
    zoom: 0.67;
  }
  section.downloud .container {
    zoom: 0.7;
  }
}
@media (max-width: 678px) {
  html {
    font-size: 50.5%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 56.5%;
  }
  nav .container {
    position: relative;
  }
  nav .container .burger {
    display: block;
  }
  nav .container .for_burger {
    transition: all 1s;
    transform: translateX(100%);
    position: fixed;
    background: var(--text_color);
    width: 100%;
    height: 100vh;
    display: block;
    z-index: 4;
    opacity: 0.95;
    top: 0;
    left: 0;
  }
  nav .container .for_burger .containerBurger {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  nav .container .for_burger .containerBurger .nav {
    padding: 6rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    border-bottom: 1px solid var(--kulrang);
  }
  nav .container .for_burger .containerBurger .nav h3 {
    font-size: 4rem;
    color: var(--white);
  }
  nav .container .for_burger .containerBurger a {
    all: unset;
    color: #fff;
    text-align: center;
    width: 80%;
    padding: 3rem 0;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.7rem;
    letter-spacing: 0.2308rem;
    text-transform: uppercase;
    border-bottom: 1px solid var(--kulrang);
  }
  nav .container .for_burger .containerBurger a:last-child {
    margin-top: 3rem;
    text-align: right;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.7rem;
    letter-spacing: 0.2308rem;
    padding: 1.2rem 0.11% !important;
    text-align: center;
    border: 2px solid var(--kulrang);
  }
  nav .container ul {
    display: none;
  }
  section.features .container {
    zoom: 1;
  }
  section.features .container .bg {
    left: -638% !important;
    top: 60.3rem !important;
  }
  section.features .container .part_features {
    flex-direction: column;
    border: none;
  }
  section.features .container .part_features h4 {
    margin-top: 2rem;
    padding: 0.6rem 0;
  }
  section.features .container .slides .slide {
    display: flex;
    flex-direction: column;
  }
  section.features .container .slides .slide .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  section.features .container .slides .slide .text h2 {
    width: 100%;
    text-align: center;
  }
  section.features .container .slides .slide .text p {
    text-align: center;
  }
  section.downloud .container {
    zoom: 1;
  }
  section.downloud .container .cards {
    flex-direction: column;
  }
  section.downloud .container .cards .card {
    zoom: 1.3;
    margin: 0;
  }
  footer .container {
    padding: 4rem 0;
    flex-direction: column;
  }
  footer .container ul {
    flex-direction: column;
    justify-content: center;
  }
  footer .container .social {
    margin-top: 4.8rem;
  }
  .show_burger {
    transform: translateX(0) !important;
  }
}
@media (max-width: 520px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 470px) {
  html {
    font-size: 45%;
  }
}
@media (max-width: 422px) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 380px) {
  html {
    font-size: 35%;
  }
}/*# sourceMappingURL=style.css.map */